<div class="recipe-container">
  <table id="recipe-container-table">
    <tr class="field-container">
      <td class="name"></td>
      <td class="instructions"></td>
      <td class="rating"></td>
    </tr>
  </table>
</div>
