// Variables
$navbar-height:              64px;
$navbar-background:          #fff;
$navbar-border:              #ddd;

$navbar-collapse-breakpoint: 768px;

$navbar-item-font-size:      14px;
$navbar-item-border-width:   4px;
$navbar-item-color:          #555;
$navbar-item-active-color:   #333;
$navbar-item-border:         transparent;
$navbar-item-active-border:  #673ab7;
